.container--footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Color-White);
    position: relative;
    margin-top: auto;
}


.container--footer .box-content {
    margin-top: 24px;
    margin-bottom: 9px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 363px;
    padding: 38.5px 0;
    position: relative;
    width: 90%;
}

.container--footer .box-content::before,
.container--footer .box-content::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(196, 196, 196, 0) 0%, #C4C4C4 50%, rgba(196, 196, 196, 0) 100%);
}

.container--footer .box-content::before {
    top: 0; /* Viền trên */
}

.container--footer .box-content::after {
    bottom: 0; /* Viền dưới */
}

.container--footer .box-content span{
    width: 128px;
    display: block;
}

.container--footer div:not(:last-of-type){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
}

.container--footer span{
    margin-bottom: 12px;
}

.container--footer .logo-list{
    display: flex;
    justify-content: space-between;
}