.home-page{
    background-image: url("../../assets/Banner.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.home-page .template{
    margin: 0px 200px;
}

.home-page .template .super--title p{
    font-size: 24px;
font-style: normal;
font-weight: 600;
margin-top: 11px;
line-height: normal;
}
.home-page .template .super--title h1{
    font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.home-page .template .super--title{
    padding-top: 150px;
    width: 400px;
}

.home-page .search--home{
    margin-top: 450px;
    border-radius: 3px;
background: var(--Secondary-accent, #071620);
height: 219px;
padding: 24px;
}

.home-page .price .title--price{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.home-page .price .title--price p{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.home-page .price .title--price h3{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.home-page .price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
}

.about-us{
    background-color: #12232E;
    margin-top: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 275px;
}

.about-us .content--about__us>p{
    color: var(--Gray-3, #D7D7D7);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.about-us .content--about__us h1{
    color: var(--Gray-3, #D7D7D7);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.about-us .content--about__us{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 420px;
    gap: 24px;
}

.about-us .content--about__us>div:last-of-type{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 56px;
}

.our-service{
    padding: 0px 24px 24px 24px;
    
    width: 1240px;
    margin-left: auto;
    margin-top: 172px;
    margin-right: auto;
}

.our-service h4{
    color: var(--Gray-3, #D7D7D7);
font-size: 24px;
font-style: normal;
margin-bottom: 24px;
font-weight: 700;
line-height: normal;
}

.our-service .tab-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-service .tab-list>div{
    width: 301px;
    height: 141px;
    border-radius: 3px;
    border: 2px solid var(--Primary-Color, #007CC7);
    background: var(--Dark-Secondary, #0B0C10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.contact{
    background-image: url("../../assets//Rectangle\ 108.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
}

.contact .contact--map{
    width: 640px;
    aspect-ratio: 1/1;
}

.contact .form--contact{
    min-width: 535px;
}

.contact .form--contact h4{
    font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 41px;
}

.contact .form--contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.near--footer{
    padding: 24px 0px;
    display: flex;
    justify-content: space-around;
    margin: 80px 0px;
}