.container--inp {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 12px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-wrapper input , textarea {
    all: unset;
    width: 100%;
    padding: 15px 40px 15px 16px; /* Chừa khoảng trống bên phải cho icon */
    border-radius: 3px;
    font-size: 16px;
    color: var(--Gray-2);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    background: var(--Light-Secondary);
    line-height: normal;
}

.icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: gray;
    font-size: 18px;
}
