.detail--main__container h1{
    margin-top: 46px;
    margin-left: 124px;
    margin-right: 124px;
    margin-bottom: 24px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.detail--main__container p{
    font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 124px;
    margin-right: 124px;
    margin-bottom: 51px;
}

.detail--description .box--right{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 72px;
    min-width: 395px;
}

.detail--description .box--right .price{
    height: 61px;
    padding: 15px 61px;
    color: var(--Primary-Color, #007CC7);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 3px;
border: 1px solid var(--Primary-Color, #007CC7);
width: 100%;
}

.box--right .car--dts{
    width: 100%;
    padding: 24px;
    border-radius: 3px;
background: var(--Secondary-accent, #071620);
}

.box--right .car--dts h4{
color: var(--Color-White, #FFF);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 18px;
}

.box--right .car--dts .field--dts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    position: relative;
    margin-bottom: 55px;
}

.box--right .car--dts .field--dts div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box--right .car--dts .field--dts div p:first-of-type{
    color: var(--Gray-2, #A9A9A9);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.box--right .car--dts .field--dts div p:last-of-type{
    color: var(--Color-White, #FFF);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.box--right .car--dts .field--dts::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #FFF;
    bottom: 0;
}

.car--dts .box--review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--Color-White, #FFF);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.dealer--box{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 700px;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background: var(--Secondary-accent, #071620);
}

.dealer--box .info--dealer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.detail--description h3{
    margin-top: 115px;
margin-bottom: 16px;
color: var(--Gray-3, #D7D7D7);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.dealer--box .info--dealer>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--Gray-3, #D7D7D7);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.dealer--box .info--dealer>div p:nth-of-type(2){
    color: var(--Gray-3, #D7D7D7);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.dealer--box .info--dealer>div>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info--dealer .phone{
    position: relative;
}

.info--dealer .phone::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 56px;
    background-color: #fff;
    left: 0;
    position: absolute;
}
.info--dealer .phone::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 56px;
    background-color: #fff;
    right: 0;
    position: absolute;
}

.form--contact__dealer{
    width: 700px;
    margin-top: 72px;
}

.form--contact__dealer h2{
    color: var(--Gray-3, #D7D7D7);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 32px;
}

.hvt{
    margin-bottom: 25px;
}

.gc{
    margin-top: 25px;
}

.address--contact__dealer{
    width: 700px;
    margin-top: 72px;
}

.address--contact__dealer h3{
    color: var(--Gray-3, #D7D7D7);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 16px;
}

.address--contact__dealer p{
    color: var(--White, #FFF);
font-size: 14px;
font-style: normal;
font-weight: 400;
margin-bottom: 8px;
line-height: normal;
}

.address--contact__dealer .map--dealer{
    height: 323px;
    width: 100%;
    margin-bottom: 96px;
}