.gallery-container {
    width: 100%;
    margin: auto;
  }
  
  .main-slider {
    width: 100%;
  }
  
  .large-image {
    width: 100%; /* Chiếm toàn bộ chiều rộng */
  overflow: hidden; /* Cắt bớt phần thừa */
  display: flex;
  justify-content: center;
  align-items: center;
    height: 700px; /* Đặt chiều cao cố định hoặc theo nhu cầu */
  }
  
  .large-image img {
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    height: auto; /* Giữ tỷ lệ */
    object-fit: cover; /* Cắt phần vượt quá chiều cao */
  }
  
  .thumb-slider {
    margin-top: 36px;
    margin-left: 124px;
    margin-right: 124px;
  }
  
  .thumb-image {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .thumb-image:hover {
    opacity: 0.7;
  }
  