.container--header{
    width: 100%;
    display: flex;
    background: var(--Secondary-Color);
    padding: 7px 200px;
    justify-content: center;
    align-items: center;
    gap: 72px;
    color: var(--Color-White);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container--header .tab-list{
    display: flex;
justify-content: center;
align-items: center;
gap: 72px;
    
}

.container--header .tab-list div{
    cursor: pointer;
    padding: 15px 0px;
}

.container--header .btn-sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 12px 0px;
}

.container--header img{
    cursor: pointer;
}