.about__us--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.about__us--container p{
    text-align: center;
font-size: 18px;
font-style: normal;
position: relative;
font-weight: 600;
width: 174px;
display: inline-block;
line-height: normal;
}
.about__us--container h3{
    display: inline-block;
    width: 174px;
    position: relative;
    text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.about__us--container h3::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Điều chỉnh khoảng cách với chữ */
    left: 0;
    width: 100%; /* Chỉ gạch chân nửa chữ */
    height: 2px; /* Độ dày của gạch chân */
    background-color: #004A77; /* Màu của gạch chân */
}

.about__us--container p::before{
    content: "";
    position: absolute;
    top: -5px; /* Điều chỉnh khoảng cách với chữ */
    left: 0;
    width: 50%; /* Chỉ gạch chân nửa chữ */
    height: 2px; /* Độ dày của gạch chân */
    background-color: #004A77; /* Màu của gạch chân */
}