.container--logo__login{
    width: 472px;
    height: 451px;
    background: var(--Secondary-Color);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--logo__login .box--logo__login{
    width: 388px;
    height: 367px;
    border-radius: 3px;
    border: 4px solid var(--Primary-Color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 63px;
}

.container--logo__login .box--logo__login .box--content__logo--login p{
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.container--logo__login .box--logo__login .box--content__logo--login h1{
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.container--logo__login .box--logo__login .network--list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.container--logo__login .box--logo__login .box--content__logo--login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

